<mat-card *ngIf="character$ | async as character">
  <mat-card-header>
    <mat-card-title>{{ character.properties.name }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="'https://via.placeholder.com/468x468?text=' + character.properties.name"
  />
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <strong>name:</strong> {{ character.properties.name }}
      </mat-list-item>
      <mat-list-item>
        <strong>birth year:</strong> {{ character.properties.birth_year }}
      </mat-list-item>
      <mat-list-item>
        <strong>eye color:</strong> {{ character.properties.eye_color }}
      </mat-list-item>
      <mat-list-item>
        <strong>gender:</strong> {{ character.properties.gender }}
      </mat-list-item>
      <mat-list-item>
        <strong>hair color:</strong> {{ character.properties.hair_color }}
      </mat-list-item>
      <mat-list-item>
        <strong>height:</strong> {{ character.properties.height }} cm
      </mat-list-item>
      <mat-list-item>
        <strong>mass:</strong> {{ character.properties.mass }} kg
      </mat-list-item>
      <mat-list-item>
        <strong>skin color:</strong> {{ character.properties.skin_color }}
      </mat-list-item>
      <mat-list-item>
        <strong>homeworld:</strong> {{ character.properties.homeworld }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['..']">back</button>
  </mat-card-actions>
</mat-card>
